@import "../../style.import.scss";

.online {
    max-width: 1105px;

    h4 {
        font-family: "Mont", sans-serif;
        text-transform: lowercase;
        font-size: 32px;
        font-weight: 600;

        margin-bottom: 20px;
    }

    p{
        font-size: var(--font-size-18);
    }

    &__row {
        &:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .online__column {
                &:first-child {
                    width: 45%;

                    text-align: right;
                }

                &:last-child {
                    width: 45%;

                    p {
                        width: 260px;
                    }
                }
            }
        }

        &:last-child {
            display: flex;
            justify-content: space-between;

            .online__column {
                &:first-child {
                    width: 420px;

                    img {
                        width: 386px;
                    }
                }

                &:last-child {
                    width: 490px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .online__li {
                        h2 {
                            top: 45px;
                        }

                        p {
                            width: 340px;
                        }
                    }
                }

                p {
                    margin-bottom: 20px;

                    font-size: var(--font-size-18);
                }
            }
        }
    }

    &__li {
        position: relative;

        h2 {
            font-size: 126px;
            color: #f1b963;

            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    &__button {
        width: 100%;

        font-weight: 800;
    }
}

@media (max-width: $desktop) {
    .online {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 1105px) {
    .online {
        h4{
            margin-top: 30px;

            line-height: 23px;
            font-size: 18px;
        }

        p{
            margin-bottom: 0 !important;
        }

        &__column {
            &,
            div,
            p {
                width: 100% !important;
            }
        }

        &__row {
            &:first-child{
                flex-direction: row-reverse;

                position: relative;

                .online__column:first-child{
                    position: absolute;

                    img{
                        width: 120px;
                    }
                }

                p{
                    width: 205px !important;
                }
            }

            &:last-child {
                flex-direction: column;
                align-items: center;

                img{
                    margin-top: 30px;
                }
            }
        }

        &__button{
            margin-top: 30px;
            padding: 13px;
        }
    }
}
