@import "../../style.import.scss";

.about__block p {
    &,
    button {
        font-size: var(--font-size-18);
    }

    padding: 0 var(--horizontal-padding);
}

.tablet {
    display: none !important;
}

@media (max-width: $desktop) {
    .tablet{
        display: block !important;
    }
}
