@import "../../../style.import.scss";

.try {
    p {
        padding: 0;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child {
            margin-bottom: 40px;
        }
    }

    &__column {
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__button {
        width: 600px;

        font-weight: 800;
    }
}

@media (max-width: $desktop) {
    .try {
        &__row {
            flex-direction: column;
        }

        &__column {
            width: 100%;

            &:first-child p{
                width: 469px;
            }

            &:last-child{
                justify-content: center;
            }

            p{
                padding: 0 !important;
                margin-top: 0;
            }
        }
    }

    .desktop{
        display: none !important;
    }
}
