@import "../../../style.import.scss";

nav {
    max-width: 1273px;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
        padding: 15px 45px;

        font-size: 32px;
        border-radius: 4px;
        text-decoration-line: none;
        color: $color-black;

        &:last-child {
            padding: 0;
        }
    }
}

.active {
    background-color: $color-black;
    color: white;
}

.mobile {
    display: none !important;
}

@media (max-width: $desktop) {
    nav {
        a {
            padding: 5px 10px;

            font-size: 12px;
            text-transform: uppercase;

            &:first-child,
            &:nth-child(5) {
                padding-left: 0;
            }

            &:last-child,
            &:nth-child(4) {
                padding-right: 0;
            }
        }

        .block_grid {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }

    .category-button {
        width: 100%;
        margin-top: 8px;

        display: flex;
        justify-content: center;

        font-weight: 800;

        img {
            height: 7px;
            width: 16px;
        }
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex !important;
        justify-content: center;
    }
}
