@import "../../style.import.scss";

.collection {
    position: relative;

    overflow: hidden;

    img,
    h3 {
        position: absolute;
    }

    &,
    img {
        height: 600px;
    }

    img {
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 1440px;
    }

    h3 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 60px;
        color: white;
        letter-spacing: -0.5px;
    }
}

@media (max-width: $tablet) {
    .collection {
        &,
        img {
            height: 165px;
            width: 390px;
        }

        h3 {
            width: 390px;

            font-size: 18px;

            transform: translateX(-50%);

            left: 50%;
            top: 16px;

            margin-left: 20px;
        }
    }
}
