@import "../../style.import.scss";

.product {
    width: 300px;
    // margin: auto;

    background-color: white;
    border-radius: 4px;

    &__head {
        position: relative;
    }

    &__heart {
        border: none;

        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 35px;
        right: 35px;

        cursor: pointer;
    }

    &__image_main {
        width: 100%;

        border-radius: 4px;
    }

    &__body {
        margin-top: 16px;

        h5,
        p,
        button {
            font-weight: 500;
        }

        button,
        p {
            font-size: var(--font-size-18-10);
        }

        h5,
        p {
            color: $color-black;

            margin: 0;
        }

        h5 {
            margin: 10px 0;

            text-transform: uppercase;
            font-size: var(--font-size-18);
        }

        p {
            &:first-child {
                font-size: var(--font-size-16-10);
                text-transform: capitalize;
            }

            &:last-child {
                margin-bottom: 8px;
            }

            span {
                color: #767676;
                text-decoration: line-through;
                font-weight: 500;

                margin-left: 20px;
            }
        }

        button {
            padding: 6px 9px;

            border-radius: 4px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: -0.5px;

            display: flex;
            align-items: center;
        }
    }

    &-buttons {
        display: flex;
        justify-content: space-between;

        margin-top: 8px;
    }

    .mobile{
        display: none;
    }
}

@media (max-width: $tablet) {
    .desktop{
        display: none;
    }

    .mobile{
        display: flex !important;
    }

    .product{
        width: 120px;

        &-buttons{
            align-items: center;
        }

        button{
            padding: 4px 9px;
        }

        &-cart__button{
            border: none;

            width: 15px;
            height: 18px;
            padding: 0 !important;

            img{
                width: 100%;
            }
        }

        &__heart{
            top: 13px;
            right: 11px;

            img{
                width: 17px;
            }
        }
    }
}
