@import "../../style.import.scss";

.question-answer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__column {
        &:first-child {
            width: 314px;
            margin-right: 76px;
        }

        &:last-child {
            width: 909px;
        }
    }

    &-columns-title {
        font-size: var(--font-size-18);

        margin-top: 0;
    }

    &-button {
        width: 100%;
    }

    &-more {
        display: flex;
        justify-content: center;

        text-align: center;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        color: $color-black;
        letter-spacing: -1px;

        margin-top: 31px;
        width: 100%;

        img {
            margin-left: 27px;
        }
    }
}

@media (max-width: $desktop) {
    .question-answer {
        flex-direction: column-reverse;
        align-items: center;

        &__column {
            &:first-child {
                margin-right: 0;
                margin-top: 40px;
                width: initial;

                display: flex;
            }

            &:last-child {
                width: 100%;
            }
        }

        &-button {
            width: 422px;
        }

        &-more {
            display: flex;
            align-items: center;

            margin-top: 0;

            font-size: var(--font-size-18);

            img {
                width: 16px;
            }
        }
    }
}

@media (max-width: $tablet) {
    .question-answer {
        &__column {
            &:first-child{
                margin-top: 20px;
            }

            button {
                width: 180px;
                padding: 13px 5px;
                margin-right: 17px;
            }
        }

        &-more{
            width: initial;

            img{
                margin-left: 6px;
            }
        }
    }
}
