.offline-store {
    display: flex;
    justify-content: space-between;

    &__column {
        &:first-child {
            width: 335px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__row {
        p {
            font-size: var(--font-size-18);

            margin: 0;

            &:first-child{
                text-transform: uppercase;
            }

            &:not(&:last-child) {
                margin-bottom: 20px;
            }

            span {
                font-weight: 600;
            }
        }
    }

    &-map {
        width: 910px;
        height: 400px;
    }
}
