@import "../../style.import.scss";

.offline-store {
    display: flex;
    justify-content: space-between;

    max-width: 1440px;
    overflow: hidden;
    padding: 0 var(--horizontal-padding);

    &__column {
        &:first-child {
            width: 335px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__row {
        p {
            font-size: var(--font-size-18);

            margin: 0;

            &:first-child {
                text-transform: uppercase;
            }

            &:not(&:last-child) {
                margin-bottom: 20px;
            }

            span {
                font-weight: 600;
            }
        }
    }

    &-map,
    &__column:last-child {
        width: 910px;
    }

    &-map {
        height: 400px;
    }
}

.mobile {
    display: none !important;
}

@media (max-width: $desktop) {
    .offline-store {
        flex-direction: column-reverse;

        &__column {
            &:first-child {
                padding-top: 20px;
                width: 100%;

                display: flex;
                flex-direction: row;

                .offline-store__row {
                    width: 335px;
                }
            }

            &:last-child, .offline-store-map {

                width: 100%;
            }
        }
    }
}

@media (max-width: $tablet) {
    .offline-store {
        padding: 0;

        &__column {
            overflow: hidden;

            margin: initial;

            &:first-child{
                padding-top: 0;
            }

            &:last-child {
                display: flex;
                justify-content: center;

                width: 100%;
            }
        }

        &__row {
            padding: 0 var(--horizontal-padding);
            padding-top: 20px;

            display: flex;
            justify-content: space-between;

            width: calc(100% - (var(--horizontal-padding) + var(--horizontal-padding))) !important;

            p {
                margin: 0 !important;

                span{
                    font-weight: 400;
                    text-transform: none;
                }

                &:first-child {
                    width: 200px;
                }

                &:last-child {
                    width: 130px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }
        }

        &-map {
            width: 100%;
        }
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: flex !important;
    }
}
