.gradient {
    background: linear-gradient(89.59deg, #a93636 -1.75%, #1d1d1d 118.95%);

    width: 100%;
    padding: 17px 0 18px;

    display: flex;
    justify-content: center;

    h3 {
        font-size: 28px;
        color: white;
    }
}

.checkboxes {
    margin-top: 30px;
}
