@import "../../../style.import.scss";

$white: #fffefe;

.slide {
    background-size: cover;
    background-position-y: center;

    height: 600px;

    &:first-child {
        background-image: url("./assets/background-1.svg");
    }

    &:nth-child(2) {
        background-image: url("./assets/background-2.svg");

        .slide {
            &__row {
                &:first-child {
                    margin: auto;
                    padding-top: 124px;

                    display: table;
                }

                &:last-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    padding-bottom: 60px;

                    h2,
                    button {
                        width: 460px;
                    }

                    h2 {
                        margin-bottom: 24px;
                    }

                    button {
                        padding: 23px 31px;

                        border: 2px solid $white;
                        background-color: transparent;
                        border-radius: 4px;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 600;
                        color: white;

                        cursor: pointer;

                        img {
                            margin-left: 15px;
                        }
                    }
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                height: 100%;
            }
        }
    }

    &__content {
        padding: 0 83px;
    }

    h2 {
        font-size: 64px;
        line-height: 54px;
        color: $white;
    }
}

@media (max-width: $desktop) {
    .slide {
        &:first-child {
            background-image: url("./assets/background-1-tablet.svg");
        }

        &:nth-child(2) {
            background-image: url("./assets/background-2-tablet.svg");

            .slide {
                &__row {
                    &:first-child {
                        display: flex;
                        justify-content: flex-start;

                        margin: initial;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    .slide {
        &:first-child {
            background-image: url("./assets/background-1-mobile.svg");
        }

        &:nth-child(2) {
            background-image: url("./assets/background-2-mobile.svg");

            .slide {
                &__content {
                    padding: 0 var(--horizontal-padding);
                }

                &__row {
                    &:first-child{
                        padding-top: 50px;
                    }

                    &:last-child {
                        width: 100%;

                        justify-content: flex-start;
                    }

                    h2 {
                        font-size: 45px;
                        line-height: 40px;
                    }

                    button {
                        font-size: 12px !important;

                        width: 310px !important;
                        padding: 15px 16px !important;
                    }
                }
            }
        }
    }
}
