@import "../../../style.import.scss";

.desc{
    margin: 30px 0;
}

.mobile {
    display: none !important;
}

@media (max-width: $tablet) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .slide img {
        height: 500px;
    }

    .desc{
        margin: 14px 0 24px;
    }
}
