@import "../../style.import.scss";

.card {
    padding: 0 var(--horizontal-padding);
    margin-bottom: 54px;

    &_padding {
        padding: 0;

        .card__head {
            padding: 0 var(--horizontal-padding);
        }
    }

    &__head{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 26px;

        &-column {
            &:last-child{
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 72.5%;
            }

            &_50{
                width: 50% !important;
            }
        }

        &-text{
            font-size: 54px;
        }
    }

    &__link_head {
        color: $color-black;
        font-size: var(--font-size-18);
        line-height: 23px;
        text-decoration-line: none;
        text-transform: uppercase;
    }

    &__swiper-button{
        width: 19px;
        height: 32px;
        padding: 0;

        border: none;

        cursor: pointer;

        &:first-child{
            margin-right: 70px;
        }

        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: $desktop) {
    .card{
        &__link_head{
            margin-left: 70px;
        }
    }
}

@media (max-width: $tablet) {
    .card{
        &__head-text{
            font-size: 26px;
        }

        &__swiper-button{
            width: 9px;

            &:first-child{
                margin-right: 30px;
            }
        }
    }
}