@import "../../style.import.scss";

.categories{
    padding: 40px 60px;
}

.category{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90px;

    img {
        width: 90px;
        height: 90px;
    }

    p{
        margin-top: 18px;

        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        color: $color-black;
    }
}